// Colors off sitie
$bodyBackgroundColor: #1f1f1f;
$wrapperBackgroundColor: #fff;
$copyrightBackgroundColor: #2e2e2e;

// Text color
$copyrightTextColor: #737373;

// width off site
$mainWidth: 960px;