.bem-copyright{
  padding: 25px 30px;
  background-color: $copyrightBackgroundColor;
  color: $copyrightTextColor;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

@media (max-width: $mdScreen){
  .bem-copyright{
    padding: 10px;
  }
}

@media (max-width: $smScreen){
  .bem-copyright{
    flex-wrap: wrap;
    justify-content: center;
    &__left{
      margin-bottom: 10px;
    }
  }
}