.fa {
  font-size: 64px;
  display: block;
  text-align: center;
}
.fa-leaf{
  color: #7da3b7;
}
.fa-cogs{
  color: #3d5f12;
}
.fa-globe{
  color: #cf9d41;
}
.fa-users{
  color: #c45f4b;
}
.fa-chevron-left,
.fa-chevron-right{
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  &:hover{
    color: inherit;
  }
}