.bem-logo{
  margin-left: 30px;
  grid-area: logo;
  padding-top: 37px;
  &__logo{
    font-size: 36px;
    color: #333;
    &:first-letter{
      font-size: 46px;
    }
  }
  &__slogan{
    font-size: 12px;
    color: #999;
    margin-top: 10px;
    margin-bottom: 37px;
  }
}
@media (max-width: $esScreen) {
  .bem-logo{
    margin: 0;
    padding-top: 15px;
    text-align: center;
  }
}